DB_HOST=localhost
DB_NAME=
DB_USER=root
DB_PASS=
PORT=3000
APP_URL=http://localhost:3000
STREAM_URL=http://localhost:3000
MEDIA_STORAGE_PATH=D:/MEDIA-HOTEL-APP-STORAGE

MIDTRANS_SERVER_KEY_PRODUCTION=
MIDTRANS_CLIENT_KEY_PRODUCTION=

MIDTRANS_CLIENT_KEY_DEVELOPMENT=
MIDTRANS_SERVER_KEY_DEVELOPMENT=

MIDTRANS_IS_PRODUCTION=false

MIDTRANS_QRIS_EXPIRY_DURATION=15
MIDTRANS_QRIS_EXPIRY_UNIT=minute
MIDTRANS_NOTIFICATION_TRUST_PAYLOAD=true

# otomatis pembayaran qris saja dengan syarat sudah diaktifkan di dashboard midtransnya
MIDTRANS_AUTO_QRIS_PAYMENT=true

# optional: user-agent untuk OpenStreetMap Nominatim reverse geocoding
OSM_USER_AGENT="hotel-app-api-service/1.0 (dev2@piranticerdasindonesia.com)"

# optional: default wilayahh indonesia administrasi 4
# Jakarta barat taman sari
DEFAULT_ADM4="31.73.03.1005"
