DB_HOST=localhost
DB_NAME=tvdb
DB_USER=root
DB_PASS=
PORT=3000
MEDIA_STORAGE_PATH=D:/MEDIA-HOTEL-APP-STORAGE
MIDTRANS_SERVER_KEY=
MIDTRANS_CLIENT_KEY=
MIDTRANS_IS_PRODUCTION=false
MIDTRANS_QRIS_EXPIRY_DURATION=15
MIDTRANS_QRIS_EXPIRY_UNIT=minute
MIDTRANS_NOTIFICATION_TRUST_PAYLOAD=true

# otomatis pembayaran qris saja dengan syarat sudah diaktifkan di dashboard midtransnya
MIDTRANS_AUTO_QRIS_PAYMENT=true
